* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.flex-container {
    margin: 0 auto;
    padding: 20px;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #1b2838;
    padding: 10px 20px;
    border-bottom: 2px solid black;
}

.header > .header-img {
    height: 100px;
    width: 500px;
}

.header h1 {
    margin: 0;
    color: white;
}

.header img {
    height: 100px;
    width: 50%;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.profile {
    display: flex;
    align-items: center;
    margin: 20px;
}

.profile-info {
    margin-left: 20px;
}

.profile-info h2 {
    margin: 0;
    color: black;
}

.profile-info p {
    margin: 5px 0;
    color: black;
}

.install-steam {
    background-color: fuchsia;
    color: white;
    display: flex;
    justify-content: center;
    margin: auto;
    height: 100px;
    width: 100px;
}

.install-steam > p {
    display: flex;
    margin: auto;
    justify-content: center;
    align-content: center;
}

.profile img {
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

.level {
    color: black;
    border: 2px solid black;
    border-radius: 1000px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.level-text {
    display: flex;
}

.user-info {
    display: flex;
    align-items: center;
    margin: 20px;
    background-color: rgba(27, 40,  56, 0.8);
    padding: 20px;
    border-radius: 10px;
}

